h2, h3{
	font-family: Times, serif;
	color: #0C0A0D;
}

.barra_de_pesquisa{
	display: flex;
	position: absolute;
	top: 60px;
	right: 10px;
}

.campo_de_pesquisa{
	width: 400px;
	height: 30px;
}

.botao_pesquisa{
	width: 70px;
	height: 36px;
}

.logo{
	position: relative;
	left: 120px;
	color: white;
	align-items: center;
	padding: 0;

	display: flex;
	font-family: Rationale, sans-serif;
	font-size: 60px;
}

.logo_ancora{
	text-decoration: none;
	height: 60px;
}

header{
	position: absolute;
	height: 160px;
	width: 100%;
	display: flex;
	background-color: #E41730;

	left: 0;
	top: 0;
}

header ul{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	list-style: none;
	padding: 0;
	width: 20%;
	position: relative;
	left: 1020px;
}

header ul li{
	text-align: center;
	width: 100%;
}

header ul li a{
	display: inline;
	padding: 10px 0;
	width: 100%;
	text-decoration: none;
	color: black ;
}

header ul li a:hover{
	text-decoration: underline;
}

.posicao_item{
	padding-left: 10px;
}

nav {
	position: absolute;
	top: 160px;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #242424;
}

nav ul{
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
	padding: 0;
	width: 100%;
	height: 20px;
}

nav ul li{
	text-align: center;
	width: 100%;
}

nav ul li a{
	display: inline;
	padding: 10px 0;
	width: 100%;
	text-decoration: none;
	color: #F2F2F2;
}

nav ul li a:hover{
	text-decoration: underline;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #CC472D;
}
.rodape {
	text-align: center;
}

